{% extends "layout.html" %}

{% block script %}
<script src="/static/js/validate-login.js"></script> 
{% endblock %}

{% block title%}
login
{% endblock %}

{% block main %}
<div class="center-container">
    <div class="card" style="width: 18rem;">
        <img src="/static/img/user.png" class="w-50 img-fluid d-block mx-auto" >
        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <form action="{{url_for('auth.login')}}" method="post" id="form-login"> <!-- es mas recomendable usar url_for('blue_print.route') que la ruta manual -->
                <label>Username: </label>
                <input type="text" placeholder="username" id="username" name="username" autocomplete="off">
                <p id="error-username"><b class="error-message">{{ error.username }}</b></p>
                <label>Password: </label>
                <input type="password" placeholder="password" id="password" name="password" autocomplete="off">
                <p id="error-password"><b class="error-message">{{ error.password }}</b></p>
                {% if error.error %}
                <p><b class="error-message">{{ error.error }}</b></p>
                {% endif %}
                <button type="submit" class="btn btn-primary d-block mx-auto" style="margin-top: 2%;">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}