{% extends "layout.html" %}

{% block title %}
transactions history
{% endblock %}

{% block log %}
<a href="{{url_for('auth.logout')}}">
    <button class="btn btn-secondary ms-auto">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
        </svg>
        Logout
    </button>
</a>
{% endblock %}
{% block main %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Reference Number</th>
      <th scope="col">Amount</th>
      <th scope="col">Acount Number</th>
    </tr>
  </thead>
  <tbody>
    {% for d in data%}
    <tr>
      <th>{{ d.created_at }}</th>
      <td>{{ d.transaction_number }}</td>
      {% if d.recipient_acount_number == acount_number %}
      <td> + {{ d.amount | usd }}</td>
      <td>{{ d.sender_acount_number }}</td>
      {% elif d.sender_acount_number == acount_number %}
      <td> - {{ d.amount | usd }}</td>
      <td>{{ d.recipient_acount_number }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}